.page-header{
    border-bottom: 1px solid var(--header-border-color);
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__navigation-wrapper{
        display: flex;
        align-items: center;
    }
    &__navigation{
        .navigation__item{
            &:not(:last-child){
                margin-right: 50px;
            }
        }
    }
    &__contact-list{
        display: flex;
    }
}
