*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
h1, h2, h3, p{
    margin: 0;
}
img{
    display: block;
    height: auto;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section{
    padding: 94px 0;
    display: flex;
    &__title{
        font-family: inherit;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        margin: 0;
        margin-bottom: 50px;
    }
    &__list{
        display: flex;
    }
    &__item{
        position: relative;
        &:not(:last-child){
            margin-right: 30px;
        }
    }
}
.navigation{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.logo{
    text-decoration: none;
    color: var(--black);
    font-weight: 700;
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    margin-right: 90px;
    .logo__title{
        color: var(--blue-color);
    }
}
.button{
    margin: 0 auto;
    margin-top: 30px;
    display: block;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--blue-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: var(--clear-white);
    cursor: pointer;
}